@model IEnumerable<BonTemps.Models.Ingredient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Kok") || User.IsInRole("Admin"))
    {
    @Html.ActionLink("Nieuwe Aanmaken", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eenheid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(i => i.Naam))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eenheid)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Kok"))
                {
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.Id });<text> | </text>
                    
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id });<text> | </text>
                }

                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
